---
import Layout from "../layouts/Layout.astro";

import { books } from "../data/books";

import BtnComprar from "../components/Book/BtnComprar.astro";
import Title from "../components/Book/Title.astro";
import BtnVolver from "../components/Book/BtnVolver.astro";
import Component from "../components/Component.astro";

import EstucheConAsas from "../components/three/EstucheConAsas";
import B1Cerrada from "../components/three/B1Cerrada";
import BandejaAcotada from "../components/three/BandejaAcotada";


const { book } = Astro.params
const info = books.find(b => b.id === book)
if (!info) {
  return Astro.redirect("/404")
}

// ESTA FUNCION DE callGetStaticPaths() ES NECESARIA PARA HACER EL BUILD
// ========================================================================
export function getStaticPaths() {
  return [
    {params: {book: "B1Cerrada"}},
    {params: {book: "BandejaAacotada"}},
    {params: {book: "EstucheConAsas"}}  ]
}
---
<Layout title="catalogo">

  
  
  <main class="m-auto max-w-4xl">
    <header class="relative">
      <BtnVolver/>

      <div class="flex">
        <div class="scale-50">
          <Title />
        </div>
        <div class="">
          <Component david={info.three} client:load />
        </div>
      </div>

    </header>

    <div class="grid grid-cols-1 md:grid-cols-[350px_1fr] gap-x-12 mt-4 md:mt-20 px-8">
      <div class="flex flex-col mb-10">
        <a href="">
          <picture class="mb-4">
            <img
            class="aspect-[500/389] h-full object-cover w-full max-w-full rounded"
            src={info.img}
            alt={`Portada del libro ${info.title}`}
            style={`view-transition-name: book-${info.id}`}
            />
          </picture>
        </a>
        <BtnComprar />
      </div>
      <aside class="mt-10 md:mt-0">
        <h1 class="text-5xl font-black mb-4">{info.title}</h1>
        <p class="text-lg mb-4">{info.opinion}</p>
        <p><strong>Autor:</strong> <span class="font-semibold text-gray-800">{info.author}</span></p>
      </aside>
    </div>

  </main>

</Layout>


