---
import BtnComprar from "../components/Book/BtnComprar.astro";
import Layout from "../layouts/Layout.astro";
import { books } from "../data/books";
import Title from "../components/Book/Title.astro";
import Model from "../components/three/Model";
import BtnVolver from "../components/Book/BtnVolver.astro";
import EstucheConAsas from "../components/three/EstucheConAsas";
import ReloadButton from '../components/Book/ReloadButton.jsx';


const { book } = Astro.params
const info = books.find(b => b.id === book)
if (!info) {
  return Astro.redirect("/404")
}

const foo = await Astro.glob("../components/three/*")
if (!foo) {
  return Astro.redirect("/404")
}



export function getStaticPaths() {
  return [
    {params: {book: "Bandeja-Automontable"}},
    {params: {book: "aprendiendo-git"}},
    {params: {book: "the-clean-coder"}},
    {params: {book: "javascript-the-good-parts"}},
    {params: {book: "eloquent-javascript"}},
    {params: {book: "eloquent-javascript2"}},
  ]
}

// Importa los componentes que necesitas
// import ComponentOne from '../components/three/ComponentOne.jsx';
// import ComponentTwo from '../components/three/ComponentTwo.jsx';

// Decide qué componente quieres renderizar
// let Component;
// switch (info.three) {
//   case 'ComponentOne':
//     Component = ComponentOne;
//     break;
//   case 'ComponentTwo':
//     Component = ComponentTwo;
//     break;
//   default:
//     throw new Error(`Componente desconocido: ${info.three}`);
// }

---
<Layout title="catalogo">

  <!-- <script>
		<ReloadButton client:load />
  </script> -->

  {foo.map((f) => {
    if (f.default.name === info.three) {
      return <div><f.default /></div>;
    } else {
      return null;
    }
  })}

  <Model client:load />
  
  <main class="m-auto max-w-4xl">
    <header class="relative">
      <BtnVolver/>
      <div class="scale-50">
        <Title />
      </div>
    </header>
    <div class="grid grid-cols-1 md:grid-cols-[350px_1fr] gap-x-12 mt-4 md:mt-20 px-8">
      <div class="flex flex-col mb-10">
        <picture class="mb-8 w-full relative border-8">
          <img
          class="aspect-[389/500] h-full object-cover w-full max-w-full rounded"
          src={info.img}
          alt={`Portada del libro ${info.title}`}
          style={`view-transition-name: book-${info.id}`}
          />
        </picture>
        <BtnComprar />
      </div>
      <aside class="mt-10 md:mt-0">
        <h1 class="text-5xl font-black mb-4">{info.title}</h1>
        <p class="text-lg mb-4">{info.opinion}</p>
        <p><strong>Autor:</strong> <span class="font-semibold text-gray-800">{info.author}</span></p>
      </aside>
    </div>
  </main>

</Layout>